Makefile
config.h
config.log
config.status
doc/Makefile
jansson.pc
libtool
src/.deps/
src/.libs/
src/Makefile
src/*.la
src/*.lo
src/*.o
src/jansson_config.h
stamp-h1
test/Makefile
test/bin/.deps/
test/bin/Makefile
test/suites/Makefile
test/suites/api/.deps/
test/suites/api/Makefile
